<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/password.css">

</head>

<body>
    <div>
        <form action="/forget-password" method="post">
            <div><label class="label">E-mail</label></div>
            <div><input class="input" type="text" id="text" name="email"></div>
            </div>
            <div><label class="label">New password</label></div>
            <div><input class="input" type="password" id="password" name="password"></div>
            </div>
            <div id="submit">
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
</body>

</html>