<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show data</title>
</head>
<body>
    <h1>Show your data by clicking below button</h1>
    <form action="alldata" method="get">
    <input type="submit" name="btn" value="Here is your data">
    </form>
</body>
</html>