<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
    <div class="basic">
        <p>Welcome <%= user.name %>
        </p>
        <p>How are you?</p>
        <a id="profile" href="/profile">See profile</a>
        <a id="logout" href="/logout">Logout</a>
    </div>
    <div class="container">
        <div class="sub-container">
            <div class="card">
                <div>
                    <h3>Tic-Tac-Toe</h3>
                </div>
                <div>
                    <a class="result" href="/tic-tac-toe">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Kuku-Kube</h3>
                </div>
                <div>
                    <a class="result" href="/kokoo-cube">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Dynamic Grid</h3>
                </div>
                <div>
                    <a class="result" href="/dynamic-grid">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>First-WebPage</h3>
                </div>
                <div>
                    <a class="result" href="/first-webpage">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Second-WebPage</h3>
                </div>
                <div>
                    <a class="result" href="/second-webpage">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Pagination</h3>
                </div>
                <div>
                    <a class="result" href="/pagination">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Sorting</h3>
                </div>
                <div>
                    <a class="result" href="http://localhost:8040/sortdata">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Search</h3>
                </div>
                <div>
                    <a class="result" href="http://localhost:8080/searchdelemeter">See Result</a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>Job Application Form</h3>
                </div>
                <div>
                    <a class="result" href="http://localhost:8080/">See Result</a>
                </div>
            </div>
            
</body>

</html>